@using NestedLists.ViewModels
@model NestedLists.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    {
        var containerTypes = Model.Containers.GroupBy(x => x.ContainerType).Distinct().ToList();
        int c = 0;

        foreach (var item in containerTypes)
        {
            c++;
            List<ContainerViewModel> containers = Model.Containers.Where(x => x.ContainerType == item.Key && x.Groups.Any()).ToList();

            <div class="row">
                <h3>@Html.LabelForModel(item.Key.ToString())</h3>
                <hr />

                @for (var i = 0; i < Model.Containers.Count; i++)
                {
                    if (!Model.Containers[i].Groups.Where(x => x.GroupType == item.Key).ToList().Any())
                    {
                        continue;
                    }
                    <div>

                        @Html.LabelForModel(Model.Containers[i].Name + " - Head - " + i)
                        @for (int j = 0; j < Model.Containers[i].Groups.Where(x => x.GroupType == item.Key).ToList().Count; j++)
                        {
                            <div>
                                @Html.CheckBoxFor(m => Model.Containers[i].Groups[j].Selected)
                                @Html.LabelFor(m => Model.Containers[i].Groups[j].Selected, htmlAttributes: new { innerText = Model.Containers[i].Groups[j].GroupName + " - " + Model.Containers[i].Groups[j].GroupType.ToString() } )
                                @Html.HiddenFor(m => Model.Containers[i].Groups[j].Id)
                            </div>
                        }
                        @*@Html.EditorFor(m => m.Containers[i])*@
                    </div>
                }

            </div>
        }
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
